<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>791499594345-8o8rigt8khn6h1i3r132cq0pl81l919o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.791499594345-8o8rigt8khn6h1i3r132cq0pl81l919o</string>
	<key>API_KEY</key>
	<string>AIzaSyANjilSLD_VNKzyxkIeTCvE0V_oEevnJLM</string>
	<key>GCM_SENDER_ID</key>
	<string>791499594345</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.domurcuk.todo</string>
	<key>PROJECT_ID</key>
	<string>qoopertodo</string>
	<key>STORAGE_BUCKET</key>
	<string>qoopertodo.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:791499594345:ios:34a108a0c8a9d6d2c260f8</string>
</dict>
</plist>